.nav-link{
    font-weight: bolder;
    position: relative;
}

.nav-link:hover{
    transform: scale(1.2);
}

.nav-link::after{
    content:"";
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    opacity: 0;
    background-color: black;
    position: absolute;
    bottom: 0;
    left:0;
}

.nav-link:hover::after{
    /* content: ''; */
    opacity: 1;
}

/* @keyframes jump {
    0%, 100% {
        transform: translateY(0);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }
    50% {
        transform: translateY(-10px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }
}

.jumping {
    animation: jump 0.5s infinite;
    position: relative;
}

.jumping:hover {
    animation-play-state: paused;
    cursor:pointer;
} */

.jumping:hover{
    transform: scale(1.1);
    cursor:pointer;
}